<div>
    <form class='form-border' (submit)="addDetails()">
        <div class="section">
            <div class="block-title">Time Details</div>
            <div>
                <label for="college-start-time" class="key">College start time:</label>
                <input type="time" name="college-start-time" id="college-start-time" class="value" [(ngModel)]="scheduleDetails.schoolStartTime"/>
            </div>
            <div class="block">
                <div class="element">
                    <label for="classes-per-day" class="key">Classes per day:</label>
                    <input type="text" name="classes-per-day"  id="classes-per-day" class="value" [(ngModel)]="scheduleDetails.classesPerDay"/>
                </div>
                <div class="element">
                    <label for="classes-per-day" class="key">Classe Duration:</label>
                    <input type="time" name="classes-per-day"  id="classes-per-day" class="value" [(ngModel)]="scheduleDetails.classDuration"/>
                </div>
                <div class="element">
                    <label for="break-start-time" class="key">Break start time:</label>
                    <input type="time" id="break-start-time" class="value" (change)="onChangeBreakStartTime($event)"/>
                </div>
                <div class="element">
                    <label for="break-end-time" class="key">Break end time:</label>
                    <input type="time" id="break-end-time" class="value" (change)="onChangeBreakEndTime($event)"/>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="block-title">Number of days per week</div>
            <div class="block">
                <div class="checkbox-element" *ngFor="let day of scheduleDetails.days">
                    <input name="scheduleDetails" type="checkbox" [id]="day.day" [(ngModel)]="day.selected"/>
                    <label [for]="day.day" class="checkbox-value">{{day.day}}</label>
                </div>
            </div>

            <div class="section">
                <div class="block-title">Teachers</div>
                <div class="block">
                    <div *ngFor="let teacher of scheduleDetails.teachers; let id = index">
                        <div class="element">
                            <label for="college-start-time" class="key">Name:</label>
                            <input type="text" [name]="scheduleDetails + '_' + id" id="college-start-time" class="value" [(ngModel)]="scheduleDetails.teachers[id].name"/>
                        </div>
                        <div class="element">
                            <label for="hours-per-day" class="key">Subject:</label>
                            <input type="text" [name]="scheduleDetails + '_' + id" id="hours-per-day" class="value" [(ngModel)]="scheduleDetails.teachers[id].subject"/>
                        </div>
                    </div>
                    <button class="form-btn" (click)="addTeacher()" type="button">Add one more teacher</button>
                </div>
            </div>

            <div class="section">
                <div class="block-title">Class Details</div>
                <div class="block">
                    <div style="margin-top: 24px;" *ngFor="let class of scheduleDetails.batches; let i = index">
                        <div style="margin: 8px 4px;">
                            <label for="class-name" class="key">Class name</label>
                            <input type="text" [name]="scheduleDetails + '_' + i" id="class-name" class="value" [(ngModel)]="scheduleDetails.batches[i].className"/>
                        </div>
                        <div class="block-title">Subject Details</div>
                        <div class="block">
                            <div *ngFor="let subject of class.subjects; let j = index">
                                <div class="element">
                                    <label for="subject-name" class="key">Subject name:</label>
                                    <input type="text" [name]="scheduleDetails + '_' + i + j" id="subject-name" class="value" [(ngModel)]="scheduleDetails.batches[i].subjects[j].name"/>
                                </div>
                                <div class="element">
                                    <label for="hours" class="key">Hours:</label>
                                    <input type="text" [name]="scheduleDetails + '_' + i + '_' + j" id="hours" class="value" [(ngModel)]="scheduleDetails.batches[i].subjects[j].hours"/>
                                </div>
                            </div>
                            <button class="form-btn" (click)="addSubject(i)" type="button">Add one more subject</button>
                        </div>
                    </div>
                    <button class="form-btn" (click)="addClass()" type="button">Add one more class</button>
                </div>
            </div>
        </div>
        <input type="submit" class="form-btn" value="Submit details"/>
    </form>
</div>